*{
    font-family:"Roboto";
}
.row{
    width: 100%;
    margin: 0;
}
/*DEBUG*/
[class*="col-"] {
    min-height: 50px;
    background-color: violet;
    color: white;
    border: solid 0.1rem white;

}

/*SETTING NAV*/

#right-menu{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: #777;
}
.orange{
    color: orange;
}

/*MAIN*/
.main-content{
    padding: 0;
}
.main-content section{
    padding: 0.5rem;
}
/*menu left*/

#menu-left{
    background-color: #0e253b;
    min-height: 100vh;
    background-image: url(img/sidebar-bg.png);
    padding-right: 0;
    position: relative;
}
.absolut{
    position: absolute;
    bottom: 0;
}

.parte-alta{
    display: flex;
    justify-content: space-between;
    /*DEBUG*/
    min-height: 100px;
}

#new-student{
    text-align: end;
}

.tabelle{
    display: flex;
}
